body{
    text-align: center;
    background-image: url(IMGS/80s\ Arcade\ Carpet.webp);
}
h1{
    color: aqua;
    font-family: "captain-comic", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    color: aqua;
    font-family: "captain-comic", sans-serif;
    font-weight: 700;
    font-style: normal;
}
button{
    justify-content: center;
}

.logo{
    animation: float 15s infinite;
}

@keyframes float {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
 
}

div{
    color: white;
}

/* Tic Tac Toe Section */
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
   font-family: "Permanent Marker", cursive;
   text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}